.BlogPost-s {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #E6EBFF;
  color: rgb(0, 0, 0);
  padding: 20px;
  margin: 0 auto;;
  gap: 10px;
  width: 80%;
  justify-content: flex-start;
  border-radius: 10px;
  padding-top: 100px;
}
  .sort-buttons h1{
    font-size: 32px;;
  }
  .sort-buttons p{
    font-size: 16px;
  }

.together {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 20px;
    margin: 15px 20px;
    width: calc(100%-40px);
  } 

.comments-i {
    border: 1px white solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;} 
.preview {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 18px;}

.sort-buttons h1, .sort-buttons p{
  text-align: left;
}
.sort-buttons button {
    color: rgb(232, 232, 232);
    padding: 5px 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    height: 40px;
    font-size: 14px;
    margin: 0 auto;}
      
.search {
  width: 50%;
  max-width: 700px; /* Adjust the width as needed for larger screens */
  margin-bottom: 10px; /* Add some space between the search bar and buttons */
  margin: 0 auto;
  height: 40px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding-left:20px;
  border: none;
  background-color: #f8f8f8;
}
    
.sort-buttons .button-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
}
    
.sort-buttons {
  flex-direction: column;
  width: 90%;
  margin:0 auto;
  align-items: center; 
}

.sort-buttons .button-container button {
  width: 150px;
  margin: 10px;
}

.container-blogcard{
  margin: 0 auto;
  display: flex;
  gap:20px;
  flex-wrap: wrap;
}

@media (min-width: 400px) {
    .button-container{
      width: fit-content;
      padding-bottom: 30px;
    }

    .sort-buttons button {
      width: 70%;
      margin: 0 auto;
      margin-top: 10px;
    }
    .BlogPost-s{
      margin: 0 auto;
      margin-top: 75px;
    }
  }
@media (max-width: 700px) {
    .blogpost {
      grid-template-columns: 1fr;
    }
    .BlogPost-s{
      width: 90%;
    }
    .BlogPost-s h1{
      margin-left: 1;
    }
    .search {
      display: block; 
    }
    .sort-buttons button {
      margin: 0 auto;
      margin-top: 10px;
    }
  }

@media (min-width: 1200px){
  .BlogPost-s{
    width: 70%;
    padding: 20px;

  }
  .sort-buttons{
    margin: 0 auto;
    width: 100%;
  }
  .button-container{
    width: 100%;
  }

  .container-blogcard{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
  .sort-buttons p{
    width: 50%;
  }
}