
.BlogPost-s {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color:#e8e8e8;
  color: rgb(0, 0, 0);
  padding: 20px;
  gap: 10px;
  justify-content: flex-start;
  margin-top: 75px;

} 

.together {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 20px;
    margin: 15px 20px;
    width: calc(100%-40px);
  } 

.comments-i {
    border: 1px white solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;} 
.preview {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 18px;}

.sort-buttons button {
    color: rgb(232, 232, 232);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    font-size: 18px;
    margin: 0 auto;}
      

.sort-buttons button:hover{
  background-color: rgba(34, 34, 34, 0.573);
  border: 1px solid white;}




    
.search {
  width: 700px; /* Adjust the width as needed for larger screens */
  margin-bottom: 10px; /* Add some space between the search bar and buttons */
  margin: 0 auto;
  height: 40px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  border-radius: 5px;

  padding-left:20px;
  border: none;
  background-color: #f8f8f8;
}
    
.sort-buttons .button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the buttons horizontally */
  margin: 0 auto;
}
    
.sort-buttons {
  flex-direction: column; /* Stack the search bar and buttons vertically */
  align-items: center; /* Center the content horizontally */
}
.sort-buttons .button-container button {
  width: auto; /* Let the buttons take their natural width */
  margin: 10px;

}


.BlogPost-s{
  border-radius: 10px;
}


  @media (max-width: 700px) {
    .blogpost {
      grid-template-columns: 1fr; /* 1 card per row on small screens */
    }
    .BlogPost-s{
      width: 90%;
    }
    .BlogPost-s h1{
      margin-left: 1;
    }

    .search {
      width: 100%; /* Make the search bar take up the full width *//* Center the search bar horizontally */
      display: block; /* Ensure the search bar behaves like a block element */
    }
    .sort-buttons button {
      width: 100%;
      margin: 0 auto;
      margin-top: 10px;
    }

  }
  


  @media (min-width: 400px) {
    .search{
      width: 50%;
    }
    .button-container{
      width: fit-content;
      padding-bottom: 30px;
    }

    .sort-buttons button {
      width: 70%;
      margin: 0 auto;
      margin-top: 10px;
    }
    .BlogPost-s{
      margin: 0 auto;
      margin-top: 75px;
    }
  }



.container-blogcard{
  margin: 0 auto;
  display: flex;
  gap:20px;
  flex-wrap: wrap;

}



@media (min-width: 1200px){
  .BlogPost-s{
    width: 80%;
    padding: 20px;

  }
  .sort-buttons{
    background-color: aqua;
    margin: 0 auto;
  }
  .sort-buttons p{
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
  }
  .container-blogcard{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    width: 80%;

  }
}