/* Button bar styling */
.btn-bar {
    padding: 10px;
    width: 100%; /* Take full width of its parent */
    display: flex;
    justify-content: center; /* Center the buttons */
}

.streaks-tracker-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.streaks-tracker {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}

.streaks-tracker {
    border-radius: 4px;
    border: solid 2px white;
    width: 325px;
    height: 125px;
    display: inline-block;
    margin: 5px;
}

.new {
    background-color: rgb(0, 0, 0);
    padding-bottom: 50px;
    padding-top: 50px;
    width: 1500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 700px;
    height: 500px;
}

.about-us {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    background-color: antiquewhite;
    border: solid white 2px;
    width: 900px;
    text-align: center;
}

/* Styling for the chart container within Goals page */
.chart {
    border: 1px solid white; /* Visible border for debugging, remove if not needed */
    width: 900px; /* Adjust width as necessary */
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-color: black;
    align-items: center; /* Center align the contents of the chart vertically */
}

.btn-bar button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
}

.btn-bar button:hover {
    background-color: rgba(34, 34, 34, 0.573);
}

.btn-bar {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}



.streaks-tracker {
    text-align: center;
    margin-top: 20px;
    border: 2px white solid;
    padding: 10px;
    margin: 10px;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.arrow.left-arrow, .arrow.right-arrow{

    height: 15px;
}

/* Responsive adjustments */
@media (max-width: 700px) {
    .btn-bar{
        width: 95%;
        margin: 0 auto;
       }
    .new {
        width: 90%;
        height: 90%;
    }
    .chart {
        margin-top: 20px;
        }
    .streaks-tracker {
        width: 50%;
        padding: 2px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .streaks-tracker p {
        margin-bottom: 1px;
        font-size: .75rem;
    }
    .streaks-tracker h2 {
        margin-top: .5px;
        margin-bottom: .5px;
    }
    .chart-container {
        width: 95%;
    }
    .btn-bar button {
        padding: 10px 20px;
        margin: 0 10px;
        font-size: .75rem;
        height: 30px;
        border: none;
        border-radius: 5px;
        margin-bottom: 5px;
        cursor: pointer;
    }
    .Chart h2{
        font-size: 1.5rem;
        margin-bottom: 0px;
    }
}
