

/* createhabit.css */

  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
  }
  
  .form-group input[type="text"],
  .form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
  }
  
  .form-group input[type="check"],
  .form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #e31b1b;
    color: #333;
  }
  
  
  .createhabit-btn{
    background-color: aqua;
    width: 300px;
    margin: 0 auto;
}

.form-group{
    background-color: blue;
    text-align: left;
}

.form-group label{
    background-color: blueviolet;
    margin-left: 30px;

}
.form-group input{
    background-color:rgb(0, 127, 211);

}
.form-group input[type="checkbox"]{
    background-color:rgb(0, 127, 211);

}