/* ===================
   Streaks Tracker
   =================== */
.streaks-tracker-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.streaks-tracker {
  display: inline-block;
  width: 325px;
  height: auto;
  max-width: 200px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.about-us-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 700px;
  height: 500px;
}

.about-us {
  padding: 0 15px 30px;
  background-color: antiquewhite;
  border: 2px solid white;
  width: 900px;
  text-align: center;
}

.btn-bar {
  display: flex;
  justify-content: center;
  margin: 20px auto 60px;
  width: 100%;
  padding: 10px;
}

.btn-bar button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: black;
}

.btn-bar button:hover {
  background-color: rgba(34, 34, 34, 0.573);
}

/* ===================
   Chart Section
   =================== */
.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid white; /* remove if not needed */
}

.chartjs-render-monitor {
  border-radius: 10px !important;
}

.arrow.left-arrow,
.arrow.right-arrow {
  height: 15px;
}

/* ===================
   Responsive Styles
   =================== */
@media (max-width: 1200px) {
  .btn-bar {
    width: 90%;
  }

  .new {
    width: 90%;
    height: 90%;
  }

  .Chart {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .streaks-tracker {
    width: 50%;
    min-width: unset;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2px;
  }

  .streaks-tracker p {
    margin-bottom: 1px;
    font-size: 0.75rem;
  }

  .streaks-tracker h2 {
    margin: 0.5px 0;
  }

  .btn-bar button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 0.75rem;
    height: 30px;
    margin-bottom: 5px;
  }

  .Chart h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
}

@media (max-width: 700px) {
  .chart-container {
    padding: 20px;
    width: 90%;
  }

  .new {
    width: 100%;
    height: 100%;
  }

  .chart {
    width: 650px;
    margin-top: 20px;
  }
}

