
#root {
  padding: 2rem;
  text-align: center;

}

/*************   NAV BAR  *********/
.nav-bar {
  background-color: rgb(255, 251, 251);
  color: #1204ac;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo-title-container {
  display: flex;
  align-items: center;
  padding: 1px;
  margin-left: 40px;
  margin-right:10%;
}
.logo-title-container h2{
  margin-left: 10px;
}
.logo-title-container img{
  width: 50px;
}

.menu-items {
  display: flex;
  flex-wrap: nowrap; /* Prevents wrapping */
  white-space: nowrap; /* Ensures text stays in one line */
  margin-left: auto;
  gap: 10px;

}

.menu-items a {
  text-decoration: none;
  font-size: 18px;
  color: #1204ac;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
  gap: 10;
}

.menu-items a:hover {
  color: #3126a2;
}

.hidden{
  border: #3126a2 solid 2px;
  width: 125px;
  height: 25px;
  border-radius: 20px;
  display: none;
}

@media (min-width: 800px) {
  .containerr{
    width: 90%;
  }
  .menu-items {
    margin-right: 70px;
    gap: 10px;
  }

  .logo-title-container h1{
    font-size: 2rem;
  }}


@media (max-width: 700px){
  .menu-items a{
    flex-wrap: nowrap;
  }
  .hidden{
    display: block;
    margin-right: 10%;
  }
  .menu-items, .signin{
    display: none;
  }

}

/*************   WELCOME  *********/
/* .containerr{
  display:flex;
  flex-direction:column;
  align-items: center;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 75px;
  background-color: rgba(92, 95, 255, 0.70);
} */

.container {
  background-color: rgba(92, 95, 255, 0.70);
}

.header {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
  /* border: 2px #1204ac solid; */
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 40px;
  background-color: rgba(0, 25, 166, 0.10) ;
  border-radius: 20px;
  background: linear-gradient(145deg, #6a2dd9, #5926b7);
  box-shadow:  20px 20px 100px #c8acfb,
               -20px -20px 100px #a68cd5;
}


 /* .header{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  margin: 0 auto;
}  */
.header-content{
    width: 80%;
    border-radius: 5px;
    padding: 30px;
} 

.cta-buttons{
  margin-top: 40px;
  display:flex;
  gap: 10px;
  margin-bottom: 30px;

} 
.cta-buttons button{
  background-color:  rgb(54, 54, 54);
}
.cta-buttons button:hover{
  background-color:  black;
}
.banner-img{
  width: 50%;
  margin-left: 40px;
  border-radius: 5px;
} 

.newpage{
  background-color: white;
  color: black;
  width: 100vw;
  margin: 150px;
  padding:30px;
}

.space{
  border: 2px solid #1204ac;
  border-radius: 20px;
  padding-top: 20px;
}
.space-containers{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
}

/******** Welcome ****/
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .box-sm h4{
    font-size: .75rem;
    margin-bottom:20px;
    height: 30px;
  }

  .box-sm p{
    font-size: .7rem;
  }

  .space {
    margin: 10px auto;
    max-width: 300px;
  }

  .adv-img {
    height: 400px;
    width: auto;
  }

  .box-sm{
    width: 80%;
    margin: 0 auto;
  }

  .newpage h4{
    width: 50%;
    margin: 0 auto;
  }


/* @media (min-width: 900px) {
  .header-content{
    color: blue;
  }
  .adv-comp{
    background-color: rgba(97, 92, 255, 0.7);
    margin-bottom: 10px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    text-align: left;
    margin: 0 auto;
    max-width: 100%; 
    flex-wrap: wrap; 
  }
  .cta-buttons{
    width: 375px;
    height: 40px;
  }
  .header-content {
    max-width: 50%; 
  }
  
  .banner-img {
    width: 500px;
    max-width: 100%;
    height: 300px;
    margin-left: 20px;
    border-radius: 5px;
  }
}  */

/* 







.adv-comp {
  background-color: rgba(97, 92, 255, 0.7);

}






.adv-comp{
  width: 100%;
  padding:20px;
  text-align:center;
  margin-top:40px;
}
.adv-img{
  width:100%;
  height: 40vh;
  border-radius: 5px;
}
.adv-img-sm{
  width:auto;
  height: 80px;
  border-radius: 5px;
}
.box-sm{
  display:flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.advantages{
  font-size:2rem;
  margin-bottom:30px;
  padding:10px;
}

.box{
  display:flex;
  justify-content: space-between;
  gap: 20px;
  
  flex-wrap: wrap;
}
.box h4{
  margin-top:20px;
  font-size: 1.25rem;
}
.box p{
  margin-top:5px;
  font-size: 1rem;
  line-height: 1.5;
}
.space{
  flex: 1;
  margin: 10px;
  max-width: 300px;
} 


.howitworks{
  width: 100%;
  border-radius: 20px;

}
.howitworks h2{
  padding-top: 20px;

}
.howitworks-img{
  width: 100%;
  border-radius: 10px;
  padding-bottom: 20px;
  
} */



/* @media (min-width: 400px) {
  .header-content {
    max-width: 400px; 
    color: blue;
    margin: 0 auto;
  }
  .adv-comp {
    background-color: rgba(97, 92, 255, 0.7);
    margin-bottom: 10px;

  }
  .header {
    display: flex;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    text-align: left;
    margin: 0 auto;
    max-width: 1200px; 
    flex-wrap: wrap;
  }
  .cta-buttons {
    width: 375px;
    height: 40px;
    margin-top: 60px;
  }

  .banner-img {
    width: 500px;
    height: auto;
    margin-left: 20px;
    border-radius: 5px;
  }
  .adv-box{
    width: 80%;
    margin: 0 auto;
  }


} */


/* 
@media (min-width: 1200px){
  .header-content{
    width: 60%;
  }

  .howitworks-img{
    width: 700px;
    height: auto;
  }

  .containerr{
    display:flex;
    flex-direction:column;
    align-items: center;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 75px;
    width: 70%;
  }
  .menu-items {   
     margin-right: 500px;
    gap: 30px; 
  }
} */