
#root {
  width: 100%;
  text-align: center;
}
.header{
  display: flex;
  flex-direction: row;
  margin:0 auto;
  width: 80%;
  padding-top: 100px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-color: transparent;
  margin: 0 auto;
  padding-top: 100px;
  max-width: 700px;
  max-height: 400px;
  padding: 40px;
  border-radius: 40px;
  background-color: rgba(0, 25, 166, 0.10) ;
  border-radius: 20px;
  background: linear-gradient(145deg, #6a2dd9, #5926b7);
  /* box-shadow:  20px 20px 100px #c8acfb,
               -20px -20px 100px #a68cd5; */
}
.banner-img-container{
  display: flex;
  justify-content: center;
  max-height: 400px;;
  align-items: center;
  width: 50%;
  max-width: 700px;
}
.banner-img-container img{
  width: 40vw;
  object-fit: cover;
  height: 100%;
  border-radius: 20px;

}
@media (max-width: 1000px) {
  .header{
    flex-direction: column;
    align-items: center;
  }
  .header-content{
    height: 275px;
  }
  .header-content h1 {
    padding: 0;
    font-size: 2rem;
    margin-bottom: 4px;
  }
  .banner-img-container{
    width: 100%;
    display: none;
    margin-top: 20px;

  }
  .banner-img-container img{
    width: 100%;
    padding:0;
    margin: 0 auto;
  }
}

/*************   NAV BAR  *********/
.nav-bar {
  background-color: rgb(255, 251, 251);
  color: #1204ac;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.logo-title-container {
  display: flex;
  align-items: center;
  padding: 1px;
  margin-left: 40px;
  margin-right:10%;
}
.logo-title-container h2{
  margin-left: 10px;
}
.logo-title-container img{
  width: 50px;
}
.menu-items {
  display: flex;
  margin-left: auto;
  gap: 10px;
}

.menu-items a {
  color: #1204ac;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.menu-items a:hover {
  color: #5d4ff4;
}

.hidden{
  border: #3126a2 solid 2px;
  width: 125px;
  height: 25px;
  border-radius: 20px;
  display: none;
}

@media (min-width: 800px) {

  .menu-items {
    margin-right: 70px;
    gap: 10px;
  }

  .logo-title-container h1{
    font-size: 2rem;
  }}


@media (max-width: 700px){
  .hidden{
    display: block;
    margin-right: 10%;
  }
  .menu-items, .signin{
    display: none;
  }
}
/*************   WELCOME  *********/
.cta-buttons{
  margin-top: 40px;
  display:flex;
  gap: 10px;
  margin-bottom: 30px;

} 
.cta-buttons button{
  background-color:  rgb(54, 54, 54);
}
.cta-buttons button:hover{
  background-color:  black;
}
.banner-img{
  width: 50%;
  margin-left: 40px;
  border-radius: 5px;
} 

.space{
  border: 2px solid #1204ac;
  border-radius: 20px;
  padding-top: 20px;
}

.space-containers{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
}

/******** Welcome ****/
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .box-sm h4{
    font-size: .75rem;
    margin-bottom:20px;
    height: 30px;
  }

  .box-sm p{
    font-size: .7rem;
  }

  .space {
    margin: 10px auto;
    max-width: 300px;
  }

  .adv-img {
    height: 400px;
    width: auto;
  }

  .box-sm{
    width: 80%;
    margin: 0 auto;
  }

  .newpage h4{
    width: 50%;
    margin: 0 auto;
  }


.adv-img-sm{
  width: 100%;
}
.space{
  padding: 20px;
}
.space-containers{
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.nav-bar{
  width: 100%;
  padding: 0;
}
/* 
https://coursera.org/share/4d73a4c9cacd645b8b3edbd8426ec815
https://coursera.org/share/7e121dd253138aae8c2ed406e28aa058 */



.blogfeature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  margin-top: 40px;
  overflow: hidden;
  border-radius: 20px;
  background-color: rgba(0, 25, 166, 0.10);
}
.blogpost img{
  height: auto;
  border-radius: 20px;
  width: auto;
  max-width: 200px;
}
.wrapper{
  overflow: hidden;
  display: flex;
  gap: 24px;
  flex-direction: row;
}


.user-info{
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}
.signout-btn {
  font-size: 12px;
  background-color: transparent;
  border: none;
  padding:0;
  margin: 0;
  color: black;
}